
/* NAVIGATION */

#nav-slider {
	color: $top-nav-link;
	font-size: 2.5em;
	line-height: $menu-height;
	float: right;
	cursor: pointer;
}
.navbar {
	margin-bottom: 0px;
	border: none;
	color: text-color;
	background: $top-nav-background;
	z-index: 1060;

	.container-fluid {
			max-width: $screen-md;
	}



	ul li {

		&.active a {
			background : #f1f4f5;
			color: $text-color;
		}

			a {
				color: $top-nav-link;
				padding: 0 20px !important;
				height: $menu-height;
				line-height: $menu-height;
				display: block;
				font-size: 1.5rem;
				text-transform: uppercase;

				&:hover,
				&:focus{
					background : #f1f4f5;
					color: $text-color;
			}
		}

		ul li a {
				color: $text-color;
				padding: 0 10px !important;
				height: 30px;
				line-height: 30px;
				display: block;
				font-size: 1.2rem;
				text-transform: uppercase;

				&:hover,
				&:focus{
					background : #fff;
					color: $text-color;
				}
		}
	}

	.navbar-brand {
		width : $side-width;
		background-color: $action-color;
		color: $text-color;
		padding: 8px 0;
		height: $menu-height;
		line-height: $menu-height;

		img {
			height: 100%;
			margin: 0 auto;
		}
	}

	.navbar-toggle {
		border: none;
		padding: 0px;
		margin: 0 20px 0 0;
		height: $menu-height;
		line-height: $menu-height;
		.icon-bar {
			background-color: #fff;
		}
	}
}

@include respond-to($screen-md) {

	.navbar-header {
		width: 100%
	}
}