
body {
	color: $text-color;
	overflow-x: hidden;
	@include circe_bold();

}


a {
	color: $link-color;
	@include transition($transition300);

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		outline: none;
	}
}

:active,
:focus  {
	outline: none;
}

::-moz-selection {

}

::selection {

}

h1,h2,h3,h4,h5,h6 {
	color : $heading-color;
	@include circe_bold(500);
	text-transform: uppercase;
	letter-spacing: 0.005em;
}


h1,
.h1 {
	font-size: $h1;
	@include respond-to($screen-sm) {
		font-size: 2em;
	}
}

h2,
.h2 {
	font-size: $h2;
}

h3,
.h3 {
	font-size: $h3;
}

h4,
.h4 {
	font-size: $h4;
}

h5,
.h5 {
	font-size: $h5;
}


/* GLOBAL BUTTONS
input[type=submit] {
	@extend .btn;
}
======================== */
.increase { color : $increase;}
.decrease { color : $decrease;}

.btn {
	display: inline-block;
	text-transform: uppercase;
	font-size: 1.3em;
	padding: 0px 30px;
	height: 50px;
	line-height: 50px;
	margin-top: 20px;
	@include border-radius(0);
}

#main {
	background: #f1f4f5;
    min-height: calc(100vh - 60px);
    position: relative;
    margin: $menu-height auto 0 auto;
    max-width: $screen-md;
    padding: 30px 15px;
    z-index: 1050;

    @include respond-to($screen-md) {
    	padding: 15px 0px;
    }
}

#primary {
	background-color: #000;
	position: relative;
}
/* Global Number style */
.big-number {
	font-size: 5em;
	font-weight: 600;

	i {
		margin-left: 20px;
	}
}

.number {
	font-size: 3em;
	font-weight: 400;

	i {
		margin-left: 20px;
	}
}

.small-number {
	font-size: 2em;
	font-weight: 400;

	i {
		margin-left: 20px;
	}
}

/* Global Img Style */
.round {
	@include border-radius(50%);
}