/* Animation */
$transition400:   all 400ms ease-in-out;
$transition300:   all 300ms ease-in-out;
$transition200:   all 200ms ease-in-out;

/* Size */
$menu-height : 60px;
$mobile-menu-height : 40px;
$side-width : 260px;

/* COLORS */
$action-color : #bf2c37;
$link-color : #f96868;
$heading-color : #37474f;
$text-color : #76838f;
$border-color : #e7e7e7;

$top-nav-background : #333;
$top-nav-link : #fff;

$side-nav-link : rgba(163, 175, 183, 0.9);
$side-nav-background :  #444;

$increase : #bbe300;
$decrease : #c30;

/* FONT FAMILIES */
@import url(http://fonts.googleapis.com/css?family=Questrial);
@mixin questrial($weight: 400) {
	font-family: 'Questrial', sans-serif;
	font-style: normal;
	font-weight: $weight;
}

@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,200,500,700);
@mixin raleway($weight: 400) {
	font-family: 'Raleway', sans-serif;
	font-style: normal;
	font-weight: $weight;
}

@mixin helvetica($weight: 400) {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-style: normal;
	font-weight: $weight;
}


/* FONT SIZES */
$h1: 4em;
$h2: 3em;
$h3: 2.5em;
$h4: 2em;
$h5: 1.5em;
$bodycopy: 1em;

/* FONT WEIGHTS */
$fw-light: 300;
$fw-semi: 600;
$fw-bold: 700;
$fw-black: 900;

/* FIXED WIDTHS */
$fixed-w-xl: 1370px;
$fixed-w-lg: 1170px;
$fixed-w-md: 970px;
$fixed-w-sm: 750px;

/* GUTTER */
$gutter: 15px;

/* SCREEN SIZE */
$screen-xxs: 600px;
$screen-xs: 768px;
$screen-sm: 992px;
$screen-md: 1200px;
$screen-lg: 1350px;
$screen-xl: 1400px;
